* {
  font-family: "Roboto", sans-serif;
}
.rotate-center {
  width: 200px;
  height: 200px;
  background-color: red;
  /* -webkit-animation: hello 1s ease-in-out both;
  animation: hello 1s ease-in-out both; */
}

@-webkit-keyframes hello {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes hello {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
