.box1 {
  background-color: green;
  width: 200px;
  height: 200px;
  /* align-self: flex-start; */
  /* order: 3; */
  /* flex: 1; */
  /* flex: ; */
}
.box2 {
  background-color: red;
  width: 200px;
  height: 200px;
  /* flex-shrink: 0; */
  /* order: 1; */
  flex: 1;
}
.box3 {
  background-color: blue;
  width: 200px;
  height: 200px;
  /* order: 2; */
  flex: 2;
}

.parent {
  border: 2px solid black;
  /* height: 700px; */
  display: flex;
  /* flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end; */
  /* flex-wrap: wrap; */
}

.box10 {
  border: 1px solid red;
  background-color: red;
  min-height: 100vh;
}

/* @media only screen and (max-width: 500px) {
  .box10 {
    background-color: blue;
  }
}

@media only screen and (max-width: 400px) {
  .box10 {
    background-color: yellow;
  }
} */

h1 {
  font-size: 50px;
}

/* @media only screen and (max-width: 420px) {
  h1 {
    font-size: 25px;
  }

} */

.div {
  max-width: 500px;
}
img {

 max-width: 500px;

}

/* @media only screen and (max-width: 510px) {
  img {
    width: 100%;
  }
} */

/* @media only screen and (max-width: 310px) {
  img {
    width: 150px;
  }
} */
